<div class="row" >
  <div class="col-md-12 ">
    <div style="border: 1px gray solid;border-radius: 6px">
      <h3 style="margin-left: 10px">All Products</h3>
      <hr>
      <div style="overflow-y:auto; height: 500px">
    <table class="table table-hover table-responsive " style="font-size: 18px">
      <thead>
      <tr class="active">
        <th>name</th>
        <th>brand</th>
        <th>price</th>
        <th>image</th>
        <th>update</th>
        <th>remove</th>
        <th>details</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let product of products">
        <td>{{product.name}}</td>
        <td>{{product.brand}}</td>
        <td>{{product.price}}</td>
        <td><img [src]="product.imgurl" style="width: 90px"></td>
        <td><button class="btn btn-warning" (click)="update(product)" >U</button></td>
        <td><button class="btn btn-danger" (click)="delete(product.key)">R</button></td>
        <td><button class="btn btn-primary" (click)="details(product.key)">D</button></td>
      </tr>
      </tbody>
    </table>
    </div>
  </div>
</div>

</div>
