<div class="row all container-fluid">
  <div class="col-md-8 col-md-offset-2">
    <div class="row">
      <div class="col-md-6">
    <span class="alert-info">product name : </span> {{currentProduct.name}}<br>
    <span class="alert-info">product brand : </span> {{currentProduct.brand}}<br>
    <span class="alert-info">product price : </span> {{currentProduct.price}}<br>
  </div>

      <div class="col-md-6">
        <img class="img-responsive img-rounded" [src]="currentProduct.imgurl"><br>
      </div>
</div>
    <div class="row">
      <span class="alert-info">product Description :</span>
      {{currentProduct.description}}
    </div>
</div>
</div>
